body {
    background-color: #424B52;
    margin: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0;  /* Remove any gap between flex items */
}

h1:before,
h1:after {
    content: '';
    height: 4px;
    background: black;
    flex: 1;
    margin: 0;  /* Remove margin to connect lines directly to text */
    padding: 0;
}

.loading {
    display: none;
    margin: 10px 0;
}

@keyframes blink {
    0% { opacity: .2; }
    20% { opacity: 1; }
    100% { opacity: .2; }
}

.loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.loading span:nth-child(2) {
    animation-delay: .2s;
}

.loading span:nth-child(3) {
    animation-delay: .4s;
}

#chat {
    border-radius: 4px;
    height: 50vh;
    overflow-y: auto;
    color: black;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
}
#chat p {
    margin: 5px 0;
    white-space: pre-wrap;
    font-size: 1.5em;  /* Increases text size */
    line-height: 1.4;  /* Adds better spacing between lines for readability */
}
#send {
    padding: 10px;
    margin: 5px;
    background-color: #882615;
    color: white;
    border-radius: 4px;

}
input {
    width: 80%;
    padding: 10px;
    background-color: #7e7c7c;  /* Light grey background */
    border: none;
    border-radius: 4px;
}
#inputForm {
    display: flex;
    justify-content: center;
}
#paramSelect {
    margin: 10px;
    padding: 2px;
    background-color: #7e7c7c;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

#paramSelect option {
    background-color: #7e7c7c;
    color: white;
}
label {
    color: white;
}
#paramLabel {
    margin-left: 10px;
    color: black;
}